USE [master]
GO
/****** Object:  Database [ZendeskIntegration2]    Script Date: 19/May/2026 10:33:04 am ******/
CREATE DATABASE [ZendeskIntegration2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZendeskIntegration2', FILENAME = N'C:\Users\noman.ali\ZendeskIntegration2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZendeskIntegration2_log', FILENAME = N'C:\Users\noman.ali\ZendeskIntegration2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZendeskIntegration2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZendeskIntegration2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentLogs]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](200) NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[UploadToken] [nvarchar](500) NOT NULL,
	[RelatedTicketId] [int] NULL,
	[TokenUsed] [bit] NOT NULL,
	[UploadedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JwtTokenLogs]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JwtTokenLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExternalUserId] [nvarchar](200) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[UserEmail] [nvarchar](320) NOT NULL,
	[Algorithm] [nvarchar](10) NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[TokenHash] [nvarchar](64) NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Tags] [nvarchar](2000) NULL,
	[RequesterName] [nvarchar](200) NULL,
	[RequesterEmail] [nvarchar](320) NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ZendeskTicketId] [bigint] NULL,
	[ZendeskTicketUrl] [nvarchar](500) NULL,
	[SyncedToZendesk] [bit] NOT NULL,
	[ZendeskCreatedAt] [datetime2](7) NULL,
	[ZendeskRawResponse] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebhookEvents]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebhookEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZendeskTicketId] [bigint] NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[TicketStatus] [nvarchar](50) NULL,
	[TicketPriority] [nvarchar](20) NULL,
	[AssigneeEmail] [nvarchar](320) NULL,
	[LatestCommentAuthor] [nvarchar](200) NULL,
	[RawPayload] [nvarchar](max) NOT NULL,
	[ProcessedSuccessfully] [bit] NOT NULL,
	[ProcessingError] [nvarchar](2000) NULL,
	[SourceIpAddress] [nvarchar](45) NULL,
	[LocalTicketId] [int] NULL,
	[ReceivedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZendeskApiLogs]    Script Date: 19/May/2026 10:33:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZendeskApiLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [nvarchar](100) NOT NULL,
	[HttpMethod] [nvarchar](10) NOT NULL,
	[Endpoint] [nvarchar](500) NOT NULL,
	[HttpStatusCode] [int] NULL,
	[Success] [bit] NOT NULL,
	[RequestBody] [nvarchar](max) NULL,
	[ResponseBody] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[DurationMs] [bigint] NOT NULL,
	[RelatedTicketId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AttachmentLogs_RelatedTicketId]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_AttachmentLogs_RelatedTicketId] ON [dbo].[AttachmentLogs]
(
	[RelatedTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttachmentLogs_TokenUsed]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_AttachmentLogs_TokenUsed] ON [dbo].[AttachmentLogs]
(
	[TokenUsed] ASC
)
INCLUDE([FileName],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AttachmentLogs_UploadToken]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_AttachmentLogs_UploadToken] ON [dbo].[AttachmentLogs]
(
	[UploadToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JwtTokenLogs_CreatedAt]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_JwtTokenLogs_CreatedAt] ON [dbo].[JwtTokenLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_JwtTokenLogs_ExternalUserId]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_JwtTokenLogs_ExternalUserId] ON [dbo].[JwtTokenLogs]
(
	[ExternalUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_JwtTokenLogs_TokenHash]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_JwtTokenLogs_TokenHash] ON [dbo].[JwtTokenLogs]
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportTickets_CreatedAt]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_SupportTickets_CreatedAt] ON [dbo].[SupportTickets]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportTickets_SyncedToZendesk]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_SupportTickets_SyncedToZendesk] ON [dbo].[SupportTickets]
(
	[SyncedToZendesk] ASC
)
INCLUDE([Id],[Subject],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportTickets_ZendeskTicketId]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_SupportTickets_ZendeskTicketId] ON [dbo].[SupportTickets]
(
	[ZendeskTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WebhookEvents_EventType]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_WebhookEvents_EventType] ON [dbo].[WebhookEvents]
(
	[EventType] ASC
)
INCLUDE([ZendeskTicketId],[ReceivedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebhookEvents_ProcessedSuccessfully]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_WebhookEvents_ProcessedSuccessfully] ON [dbo].[WebhookEvents]
(
	[ProcessedSuccessfully] ASC
)
INCLUDE([EventType],[ZendeskTicketId],[ReceivedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebhookEvents_ReceivedAt]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_WebhookEvents_ReceivedAt] ON [dbo].[WebhookEvents]
(
	[ReceivedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebhookEvents_ZendeskTicketId]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_WebhookEvents_ZendeskTicketId] ON [dbo].[WebhookEvents]
(
	[ZendeskTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZendeskApiLogs_CreatedAt]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_ZendeskApiLogs_CreatedAt] ON [dbo].[ZendeskApiLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ZendeskApiLogs_Operation]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_ZendeskApiLogs_Operation] ON [dbo].[ZendeskApiLogs]
(
	[Operation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZendeskApiLogs_RelatedTicketId]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_ZendeskApiLogs_RelatedTicketId] ON [dbo].[ZendeskApiLogs]
(
	[RelatedTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZendeskApiLogs_Success]    Script Date: 19/May/2026 10:33:05 am ******/
CREATE NONCLUSTERED INDEX [IX_ZendeskApiLogs_Success] ON [dbo].[ZendeskApiLogs]
(
	[Success] ASC
)
INCLUDE([Operation],[DurationMs],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttachmentLogs] ADD  CONSTRAINT [DF_Att_Used]  DEFAULT ((0)) FOR [TokenUsed]
GO
ALTER TABLE [dbo].[AttachmentLogs] ADD  CONSTRAINT [DF_Att_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JwtTokenLogs] ADD  CONSTRAINT [DF_JwtLogs_Algo]  DEFAULT ('HS256') FOR [Algorithm]
GO
ALTER TABLE [dbo].[JwtTokenLogs] ADD  CONSTRAINT [DF_JwtLogs_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_Priority]  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_Type]  DEFAULT ('problem') FOR [Type]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_Status]  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_Synced]  DEFAULT ((0)) FOR [SyncedToZendesk]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_Tickets_UpdatedAt]  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WebhookEvents] ADD  CONSTRAINT [DF_Wh_Processed]  DEFAULT ((0)) FOR [ProcessedSuccessfully]
GO
ALTER TABLE [dbo].[WebhookEvents] ADD  CONSTRAINT [DF_Wh_ReceivedAt]  DEFAULT (getutcdate()) FOR [ReceivedAt]
GO
ALTER TABLE [dbo].[ZendeskApiLogs] ADD  CONSTRAINT [DF_ApiLogs_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AttachmentLogs]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentLogs_Tickets] FOREIGN KEY([RelatedTicketId])
REFERENCES [dbo].[SupportTickets] ([Id])
GO
ALTER TABLE [dbo].[AttachmentLogs] CHECK CONSTRAINT [FK_AttachmentLogs_Tickets]
GO
ALTER TABLE [dbo].[WebhookEvents]  WITH CHECK ADD  CONSTRAINT [FK_WebhookEvents_Tickets] FOREIGN KEY([LocalTicketId])
REFERENCES [dbo].[SupportTickets] ([Id])
GO
ALTER TABLE [dbo].[WebhookEvents] CHECK CONSTRAINT [FK_WebhookEvents_Tickets]
GO
ALTER TABLE [dbo].[ZendeskApiLogs]  WITH CHECK ADD  CONSTRAINT [FK_ApiLogs_Tickets] FOREIGN KEY([RelatedTicketId])
REFERENCES [dbo].[SupportTickets] ([Id])
GO
ALTER TABLE [dbo].[ZendeskApiLogs] CHECK CONSTRAINT [FK_ApiLogs_Tickets]
GO
USE [master]
GO
